nav {
  border-bottom: 1px solid #b1b1b1;
}

.router-outlet-primary {
  height: 500px;
  overflow: auto;
  border-bottom: 1px solid #b1b1b1;
}

.router-outlet-second {
  height: 500px;
  border-bottom: 1px solid #b1b1b1;
}
