<nav class="p-md">
  <button nz-button [routerLink]="'/merge-map'">mergeMap测试组件</button>
  <button nz-button [routerLink]="'/resolve-data'">resolve-data</button>
  <button nz-button [routerLink]="'/data-list'">data-list</button>
  <button nz-button [routerLink]="'/page-not-found'">pageNotFound</button>
  <button nz-button (click)="clear()">清理缓存</button>
  <button nz-button (click)="look()">查看component</button>
</nav>
<div class="router-outlet-primary p-md">
  <router-outlet></router-outlet>
</div>
