<div class="drag-top">{{data.group || 'default group'}}</div>
<div cdkDropList
     cdkDropListOrientation="horizontal"
     [cdkDropListData]="data"
     [cdkDropListConnectedTo]="connectTo"
     [cdkDropListEnterPredicate]="enterPredicate"
     class="example-list"
     (cdkDropListDropped)="drop($event)">
  <div *ngFor="let li of data.dragList" [cdkDragData]="li"
       cdkDrag class="example-box">
    <div>
      <div>{{li.txt}}</div>
      <div>
        <app-horizontal-dragdrop *ngIf="li.children"
                                 [data]="li.children"></app-horizontal-dragdrop>
      </div>
    </div>
  </div>
</div>
